.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;


  /* top: 50%;
  left: 50%;
  transform: translate(0%, -60%); */

  /* background: rgb(255 255 255 / 26%); */
  /* border-radius: 0px; */
  border: 1px solid rgb(255 255 255 / 15%);

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25);

}

h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e4f;
  max-width: 90%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #02020279;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e4f;
  margin: 10px;
  padding: 10px;
  max-width: 95%;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    
    img{
      filter: grayscale(0.5) invert();
    }
  }

  & button:hover {
    opacity: 0.6;
  }
}

.card:hover {
  opacity: 0.9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}