.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 80px 0;
  justify-content: space-evenly;


  /* top: 50%;
  left: 50%;
  transform: translate(0%, -60%); */

  /* background: rgb(255 255 255 / 26%); */
  /* border-radius: 0px; */
  /* border: 1px solid rgb(255 255 255 / 15%); */

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25);

}

.users-container{
  background-color: #2e2d4e4f;
  max-width: 444px;
  max-height: 400px; /* Define a altura máxima antes de aparecer a barra de rolagem */
  overflow-y: auto;  /* Ativa a rolagem vertical quando necessário */
  margin-top: 10px;
  /* border: 1px solid #ddd; */
  padding: 10px;
  border-radius: 5px;
  /* overflow: scroll;
  box-sizing: border-box; */
}

@media (max-width: 1024px) {
  .container{
    flex-direction: column;
  }

  .users-container{
    overflow-y: hidden;
    max-width: 90%;
    display: contents;
  }
}

.users-container::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.users-container::-webkit-scrollbar-track {
  background: #2e2d4e4f;        /* color of the tracking area */
}

.users-container::-webkit-scrollbar-thumb {
  background-color: #48456c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #2e2d4e4f;  /* creates padding around scroll thumb */
}

h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}
@media (max-width: 424px) {
  h1 {
    font-size: 22px;
  }
  
}
form {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e4f;
  max-width: 90%;
  width: 444px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #02020279;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #48456c;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e4f;
  margin: 10px;
  padding: 10px;
  max-width: 95%;
  width: 600px;
  border-radius: 10px;

  & p {
    color: #fff;
    font-weight: bold;

    & span {
      font-weight: normal;
    }
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    
    img{
      filter: grayscale(0.5) invert();
    }
  }

  & button:hover {
    opacity: 0.6;
  }
}

.card:hover {
  opacity: 0.9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}