* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  max-width: 100%;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0,1);
  /* background: linear-gradient(
    180deg,
    #8684c9 0%,
    rgba(108, 106, 223, 0.8) 100%
  ); */
}

@font-face {
  font-family: YOZ;
  src: url(./assets/YOZAKURA-Regular.otf);
}

.blob-outer-container{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
  margin: auto;
  filter: blur(100px);
  opacity: 0.5;
}

.blob-inner-container{
  border-radius: 99px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  overflow: hidden;
  background-color: #fff;
}

.blob{
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  margin: auto;
  background: conic-gradient(from 0deg, #08f,#f60,#bbffa1,#ffcb57,#4c00ff,#ab2666,#09f);
  animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
  0%{
    transform: rotate(0deg) scale(2);
  }
  100%{
    transform: rotate(1turn) scale(2);
  }
  
}

.gradient-canvas {
  width: 100%;
  height: 100%;
  /* min-height: 100vh;
  width: 100vw; */
  --gradient-color-1: #a960ee;
  --gradient-color-2: #db4950;
  --gradient-color-3: #3dadda;
  --gradient-color-4: #ffcb57;
  z-index: 0;
}
