* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  max-width: 100%;
}

:root{
  --sm: 500px;
  --md: 700px;
  --bg: 1000px;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0,1);
  /* background: linear-gradient(
    180deg,
    #8684c9 0%,
    rgba(108, 106, 223, 0.8) 100%
  ); */
}

@font-face {
  font-family: YOZ;
  src: url(./assets/YOZAKURA-Regular.otf);
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2e2d4e4f;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #48456c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #2e2d4e4f;  /* creates padding around scroll thumb */
}